<main class="container" [ngClass]="{ open: filtersOpened, haveRoute: mapService.showingRoute}">
  <div class="brand">
    <img src="assets/images/MOE_logo_triangle.png" alt="Mall of Emirates" />
  </div>
  <nav>
    <app-search></app-search>

    <div class="menu-section">
      <app-floor-picker [ngClass]="{ open: filtersOpened }"></app-floor-picker>
    </div>

    <div
      [hidden]="
        sidebarService.selectedEndPoi ||
        sidebarService.filteredShop ||
        sidebarService.showRoutePicker ||
        sidebarService.showClosestAmenityPicker
      "
      class="filters"
      [ngClass]="{ open: filtersOpened }"
    >
      <div class="inner">
        <app-shop-picker></app-shop-picker>
        <app-amenity-picker></app-amenity-picker>
        <div class="toggle" (click)="filtersOpened = !filtersOpened">
          <fa-icon
            [icon]="
              filtersOpened
                ? ['fal', 'chevron-double-left']
                : ['fal', 'chevron-double-right']
            "
          ></fa-icon>
        </div>
      </div>
    </div>

    <div class="toggle" (click)="filtersOpened = !filtersOpened">
      <fa-icon
        [icon]="
          filtersOpened
            ? ['fal', 'chevron-double-left']
            : ['fal', 'chevron-double-right']
        "
      ></fa-icon>
    </div>
  </nav>

  <ng-container>
    <nav [hidden]="!sidebarService.selectedEndPoi || sidebarService.showRoutePicker">
      <app-details></app-details>
    </nav>
  </ng-container>

  <ng-container>
    <nav
      [hidden]="!sidebarService.filteredShop || sidebarService.selectedEndPoi"
    >
      <app-list-view></app-list-view>
    </nav>
  </ng-container>

  <ng-container>
    <nav [hidden]="!sidebarService.showClosestAmenityPicker">
      <app-closest-amenity></app-closest-amenity>
    </nav>
  </ng-container>

  <ng-container>
    <nav [hidden]="!sidebarService.showRoutePicker">
      <app-route-picker></app-route-picker>
    </nav>
  </ng-container>
</main>
