@import '../../../../styles/variables';

.container {
  .title {
    position: relative;
    color: $default-color;
    transition: all .25s linear;
  }

  .categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    >li {
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      width: 60px;
      vertical-align: top;
      cursor: pointer;
      .icon {
        background-color: #868686;
        color: #fff;
        font-size: 22px;
        border-radius: 10px;
        width: 60px;
        height: 60px;
        line-height: 60px;

        img {
          margin-top: 10px;
          width: 40px;
        }
      }

      &:hover .icon {
        background-color: darken(#868686, 10%);
      }
      &.active {
        .icon {
          background-color: $default-color;
          color: white;
        }
        &:hover .icon {
          background-color: darken($default-color, 10%);
        }
      }

      p {
        font-size: 12px;
        margin-top: 4px;
      }
    }
  }
}

@media only screen and (max-width: 959.98px) {
  .container {
    display: inline-block;
    .title {
      display: none;
    }

    .categories {
      margin: 0;
      padding: 0;
      >li {
        width: 44px;
        .icon {
          width: 44px;
          height: 44px;
          line-height: 44px;
          font-size: 16px;

          img {
            margin-top: 7px;
            width: 30px;
          }
        }
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
}
