<div class="container" [ngClass]="{ 'search-opened': searchOpen }">
  <div class="overlay"></div>
  <fa-icon
    [icon]="['fal', 'search']"
    [size]="searchOpen ? '2x' : 'lg'"
    class="search-icon"
  ></fa-icon>
  <fa-icon
    [icon]="['fal', 'times']"
    size="2x"
    class="close-icon"
    *ngIf="searchOpen"
    (click)="onClose(select)"
  ></fa-icon>
  <ng-select
    ngSelectMat
    #select
    class="custom"
    [placeholder]="'searchPlaceholder' | translate"
    dropdownPosition="bottom"
    [(ngModel)]="selectedPoi"
    [isOpen]="optionsOpen"
    [closeOnSelect]="true"
    [clearSearchOnAdd]="true"
    groupBy="foundInDescription"
    (click)="onSearchOpen()"
    (search)="onSearch($event)"
    (change)="onSelect($event, select)"
    [disabled]="!mapService.mapReady"
  >
    <ng-template ng-optgroup-tmp let-item="item">
      {{ item.foundInDescription ? "Found in description" : "" }}
    </ng-template>
    <ng-container *ngFor="let poi of pois">
      <ng-option [value]="poi"
        >{{ poi.properties.title }}</ng-option
      >
    </ng-container>
  </ng-select>
</div>
