<div
  class="container"
  *ngIf="poi"
  [ngClass]="{ haveRoute: haveRouteDetails, open: sidebarOpened }"
>
  <div class="toggle" (click)="sidebarOpened = !sidebarOpened">
    <fa-icon
      [icon]="
        sidebarOpened ? ['fal', 'chevron-left'] : ['fal', 'chevron-right']
      "
    ></fa-icon>
  </div>
  <button (click)="onDetailsClose()" class="close">
    <fa-icon [icon]="['fal', 'times']"></fa-icon>
  </button>
  <div class="img-holder">
    <img
      [src]="
        poi.properties.images[0]
          ? getImageUrl()
          : 'https://picsum.photos/500/300'
      "
      [alt]="poi.properties.title"
    />
  </div>
  <div class="content header">
    <h2 class="title">{{ poi.properties.title }}</h2>
    <h4 class="open-hours">{{ getOpenHours() }}</h4>
    <h4 class="level">
      {{ poi.properties._dynamic.floor?.name ? poi.properties._dynamic.floor.name : poi.properties.level + 1 | ordinal }}
    </h4>
    <div class="qr-code" *ngIf="haveRouteDetails">
      <qrcode
        [qrdata]="qrCodeUrl"
        [width]="100"
        [errorCorrectionLevel]="'M'"
        [allowEmptyString]="true"
      ></qrcode>
    </div>
  </div>
  <div
    class="content"
    [ngClass]="{ accessibleOnly: stateService.state.accessibleRoute }"
  >
    <p *ngIf="details">
      {{ details | slice : 0 : limit }}
      {{ details.length > limit ? "..." : "" }}
      <a
        *ngIf="details.length > limit"
        href="javascript:;"
        (click)="limit = details.length; showingMore = true"
        >{{ "showMore" | translate }}
        <fa-icon [icon]="['fal', 'angle-down']"></fa-icon
      ></a>
      <a
        *ngIf="showingMore"
        href="javascript:;"
        (click)="limit = 200; showingMore = false"
        >{{ "showLess" | translate }}
        <fa-icon [icon]="['fal', 'angle-up']"></fa-icon
      ></a>
    </p>

    <p *ngIf="linkUrl">
      Link: <a [href]="linkUrl" target="_blank" style="display: inline">{{ poi.properties.metadata.url }}</a>
    </p>

    <p *ngIf="haveRouteDetails">
      <strong>{{ "distance" | translate }}</strong
      >: {{ distanceInMeters | number : "1.0-0" }}m /
      {{ distanceInMinutes }}
    </p>

    <button
      (click)="onShowRoute()"
      class="show-route"
      *ngIf="stateService.state.kioskMode"
    >
      <fa-icon [icon]="['fal', 'walking']"></fa-icon>
      {{ "takeMeThere" | translate }}
    </button>

    <div *ngIf="haveRouteDetails">
      <button (click)="toggleInstructions()" class="instructions-toggle">
        <fa-icon
          [icon]="
            showInstructions
              ? ['fal', 'angle-down']
              : stateService.state.accessibleRoute
              ? ['fal', 'wheelchair']
              : ['fal', 'route']
          "
        ></fa-icon>
        {{
          (showInstructions ? "hideInstructions" : "showInstructions")
            | translate
        }}
      </button>
      <button (click)="toggleAccessibleRoute()" class="accessible-toggle">
        <fa-icon
          [icon]="
            stateService.state.accessibleRoute
              ? ['fal', 'walking']
              : ['fal', 'wheelchair']
          "
        ></fa-icon>
        {{
          (stateService.state.accessibleRoute
            ? "showFastestRoute"
            : "showAccessibleRoute"
          ) | translate
        }}
      </button>

      <mat-expansion-panel [disabled]="true" [expanded]="showInstructions">
        <mat-panel-description>
          <mat-list>
            <mat-list-item *ngFor="let step of steps">
              <p matLine>
                <fa-icon [icon]="step.directionIcon"></fa-icon>
                <fa-icon [icon]="step.stepIcon"></fa-icon>
              </p>
              <p matLine>{{ step.description }}</p>
            </mat-list-item>
          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="start-box" *ngIf="!stateService.state.kioskMode">
    <p
      class="closest-parking"
      *ngIf="closestParkingFeature"
      (click)="onCenterToParking()"
    >
      <strong>Closest parking:</strong>
      {{ closestParkingFeature.properties.title }}
    </p>
    <div class="buttons">
      <button type="button" (click)="onRouteFromParking()">
        <img
          src="https://img.icons8.com/ios-filled/50/ffffff/people-in-car.png"
        />
        Route from parking
      </button>
      <button type="button" (click)="onRouteFromEntrance()">
        <img src="https://img.icons8.com/ios/50/ffffff/walking--v1.png" />
        Route from entrance
      </button>
    </div>
    <!--<form [formGroup]="startPoiForm">
      <div mat-dialog-content>
        <mat-form-field appearance="outline">
          <mat-label>Route from different place</mat-label>
          <input
            matInput
            type="text"
            placeholder="Start Point"
            formControlName="startPoi"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="onStartPoiSelect($event)"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{
                option.properties.title + " - Floor: " + option.properties.level
              }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="startPoiForm.get('startPoi').invalid"
            >Please enter a valid start poi.</mat-error
          >
        </mat-form-field>
      </div>
    </form>-->
  </div>
</div>
