@import "../../../../styles/variables";

.container {
  background-color: rgba(255 255 255 / 100%);
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  border-radius: 0 10px 10px 0;
  margin-bottom: 1rem;
  position: absolute;
  left: 0;
  top: 110px;
  transition: all 0.25s linear;
  min-height: 143px;
  z-index: 4;
  max-height: calc(100vh - 110px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 451px;

  button {
    cursor: pointer;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    background: $default-color;
    border: 0;
    border-radius: 15px;
    padding: 0.5rem 0.8rem;
    font-size: 20px;
    z-index: 4;
    &:hover {
      background: darken($default-color, 3%);
    }
  }

  .img-holder {
    img {
      width: 100%;
    }
  }

  .content {
    padding: 1rem 2rem;
    background: white;
    position: relative;
    top: -20px;
    border-radius: 0 20px 0 0;

    &.small-viewport-only {
      display: none;
    }

    &.header {
      padding-bottom: 0;

      .qr-code {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          color: $default-color;
          font-weight: 600;
          font-size: 20px;
          padding-left: 1.5rem;
        }
      }
    }

    .title {
      color: $default-color;
      margin-bottom: 5px;
    }

    a.url {
      display: inline-block;
      background: white;
      border: 2px solid $default-color;
      text-align: center;
      border-radius: 50px;
      font-weight: 500;
      transition: all 0.25s linear;
      color: $default-color;
      text-decoration: none;
      font-size: 18px;
      width: 36px;
      height: 36px;
      line-height: 39px;
      &:hover {
        background: $default-color;
        border-color: $default-color;
        color: white;
      }
    }

    .open-hours {
      color: $default-color;
      margin-bottom: 0;
      font-weight: 400;
    }

    h4 {
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 0;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.5px;

      a {
        display: block;
        font-weight: 500;
        color: #222;
        margin-top: 10px;
        text-decoration: none;

        &:hover {
          color: $default-color;
        }
      }
    }

    .instructions-toggle,
    .accessible-toggle,
    .show-route {
      display: block;
      width: 100%;
      margin-bottom: 0.5rem;
      cursor: pointer;
      background: white;
      text-align: center;
      border-radius: 5px;
      font-weight: 500;
      padding: 0.5rem;
      outline: 0;
      transition: all 0.25s linear;

      fa-icon {
        margin-right: 0.5rem;
      }

      &:hover {
        opacity: 0.7;
        transform: scale(1.05);
      }
    }

    .instructions-toggle {
      border: 2px solid $default-color;
      color: $default-color;
    }
    .accessible-toggle {
      border: 0;
      color: $accent-color;
    }
    .show-route {
      border: 2px solid $default-color;
      background-color: $default-color;
      color: white;
    }

    .accessible-toggle-group {
      display: flex;
      border: 0;
      border-radius: 16px;
      margin-bottom: 0.8rem;

      .mat-button-toggle {
        flex: 1 1 1px;
        color: white;
        background-color: #b8b0af;
        padding: 0.8rem;
        white-space: normal;

        &.mat-button-toggle-checked {
          background-color: $default-color;
          ::ng-deep .mat-button-toggle-focus-overlay {
            border: 0;
          }
        }

        img {
          display: block;
          margin: 0 auto;
        }

        ::ng-deep .mat-button-toggle-label-content {
          line-height: normal;
          letter-spacing: -0.25px;
        }
      }
    }

    .step-nav {
      display: flex;
      align-items: stretch;
      margin-bottom: 0.5rem;
      border-radius: 5px;
      overflow: hidden;

      .description {
        background-color: #b8b0af;
        color: white;
        padding: 1rem;
        flex: 1;
        display: flex;
        align-items: center;

        p {
          margin: 0;
        }
      }
      .next {
        background-color: #000;
        color: white;
        cursor: pointer;
        padding: 1rem;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;

        p {
          margin-bottom: 0;
          margin-top: 0.25rem;
        }

        &:hover {
          background-color: #222;
        }
      }
    }

    .mat-expansion-panel ::ng-deep {
      box-shadow: none;
      background: white;
      .mat-expansion-panel-body {
        padding: 0;
      }
      .mat-list-item {
        border-top: 1px dashed $default-color;
        color: #222;
        .mat-list-item-content {
          padding: 0;
          .mat-list-text {
            p:first-child {
              color: $default-color;
              fa-icon {
                margin-right: 5px;
              }
            }
            p:last-child {
              margin-top: 5px;
            }
          }
        }
      }
    }

    &.accessibleOnly {
      .instructions-toggle {
        border-color: $accent-color;
        color: $accent-color;
      }
      .accessible-toggle {
        color: $default-color;
      }
      .mat-expansion-panel ::ng-deep {
        .mat-list-item {
          border-color: $accent-color;
          .mat-list-text p:first-child {
            color: $accent-color;
          }
        }
      }
    }

    &.small-viewport-only {
      .accessible-toggle {
        border: 2px solid $accent-color;
        color: $accent-color;
      }
      &.accessibleOnly {
        .accessible-toggle {
          border: 2px solid $default-color;
          color: $default-color;
        }
      }
    }
  }
  .toggle {
    position: absolute;
    display: none;
    font-size: 30px;
    color: $default-color;
    padding: 0.5rem;
    cursor: pointer;
    transform: rotate(-90deg);
    z-index: 6;

    &:hover {
      color: darken($default-color, 3%);
    }
  }
  .start-box {
    margin-top: -2rem;
    padding: 1rem 2rem;
    padding-top: 0;
    position: relative;

    .closest-parking {
      display: inline-block;
      cursor: pointer;
      color: $default-color;
      &:hover {
        color: darken($default-color, 15%);
      }
    }

    .buttons {
      display: flex;
      gap: 10px;
      margin-bottom: 1rem;
      > button {
        flex: 1 1 0px;
        text-align: center;
        background-color: $default-color;
        color: white;
        border-radius: 6px;
        max-width: 120px;
        border: 0;
        padding: 0.5rem;

        &:hover {
          background-color: darken($default-color, 15%);
        }
        img {
          margin: 0 auto;
          display: block;
          width: 30px;
        }
      }
    }

    .mat-dialog-content {
      text-align: center;
    }
    mat-form-field {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 959.98px) {
  .container {
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    max-height: 100%;
    z-index: 16;

    .toggle {
      display: block;
      left: calc(50% - 18px);
    }

    .img-holder {
      img {
        height: 0;
      }
    }

    .content {
      &.large-viewport-only {
        display: none;
      }
      &.small-viewport-only {
        display: block;
        padding-bottom: 0;
      }
      > p {
        display: none;
      }
      .open-hours {
        display: none;
      }
      .accessible-toggle-group {
        display: none;
        border-radius: 8px;
        margin-bottom: 0.8rem;
        .mat-button-toggle {
          padding: 0.4rem;
          ::ng-deep .mat-button-toggle-label-content {
            line-height: normal;
            font-size: 14px;
          }
          img {
            width: 26px;
          }
        }
      }
      .distance {
        display: none;
      }
      .step-nav {
        padding-bottom: 0;
      }
    }

    &.open {
      max-height: 100%;
      .img-holder {
        img {
          height: auto;
        }
      }
      .content {
        > p {
          display: block;
        }
        .open-hours {
          display: none;
        }
        .accessible-toggle-group {
          display: flex;
        }
      }
    }

    &.haveRoute {
      max-height: 245px;
      .content {
        .qr-code {
          display: none;
        }
        .show-route {
          display: none;
        }
      }
      .start-box {
        display: none;
      }
      &.open {
        max-height: 100%;
        .img-holder {
          img {
            height: auto;
          }
        }
        .content {
          .distance {
            display: block;
          }
          .qr-code {
            right: 0.5rem;
          }
        }
        .start-box {
          display: block;
        }
      }
    }
    .start-box {
      font-size: 12px;
      .buttons {
        > button {
          font-size: 12px;
          max-width: 80px;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}
