<div
  class="container"
  *ngIf="poi"
  [ngClass]="{ haveRoute: haveRouteDetails, open: sidebarOpened }"
>
  <div class="toggle" (click)="sidebarOpened = !sidebarOpened">
    <fa-icon
      [icon]="
        sidebarOpened ? ['fal', 'chevron-left'] : ['fal', 'chevron-right']
      "
    ></fa-icon>
  </div>
  <button (click)="onDetailsClose()" class="close">
    <fa-icon [icon]="['fal', 'times']"></fa-icon>
  </button>
  <div class="img-holder" *ngIf="!this.sidebarService.filteredAmenity">
    <img
      [src]="
        poi.properties.images[0]
          ? getImageUrl()
          : 'https://picsum.photos/500/300'
      "
      [alt]="poi.properties.title"
    />
  </div>
  <div class="content header">
    <h2 class="title">{{ poi.properties.title }}</h2>
    <div class="qr-code" *ngIf="haveRouteDetails">
      <qrcode
        [qrdata]="qrCodeUrl"
        [width]="120"
        [errorCorrectionLevel]="'M'"
        [allowEmptyString]="true"
      ></qrcode>
      <p>{{ "scan-qr-code" | translate }}</p>
    </div>
    <h4 class="open-hours" *ngIf="!this.sidebarService.filteredAmenity">
      {{ getOpenHours() }}
    </h4>
    <h4 class="level">
      {{ "level" | translate }}:
      {{
        poi.properties._dynamic.floor?.name
          ? poi.properties._dynamic.floor.name
          : (poi.properties.level + 1 | ordinal)
      }}
    </h4>
  </div>
  <div
    class="content large-viewport-only"
    [ngClass]="{ accessibleOnly: stateService.state.accessibleRoute }"
  >
    <p *ngIf="details && !this.sidebarService.filteredAmenity">
      {{ details | slice : 0 : limit }}
      {{ details.length > limit ? "..." : "" }}
      <a
        *ngIf="details.length > limit"
        href="javascript:;"
        (click)="limit = details.length; showingMore = true"
        >{{ "showMore" | translate }}
        <fa-icon [icon]="['fal', 'angle-down']"></fa-icon
      ></a>
      <a
        *ngIf="showingMore"
        href="javascript:;"
        (click)="limit = 200; showingMore = false"
        >{{ "showLess" | translate }}
        <fa-icon [icon]="['fal', 'angle-up']"></fa-icon
      ></a>
    </p>

    <p *ngIf="linkUrl">
      {{ "link" | translate }}:
      <a [href]="linkUrl" target="_blank" style="display: inline">{{
        poi.properties.metadata.url
      }}</a>
    </p>

    <p class="distance" *ngIf="haveRouteDetails">
      <strong>{{ "distance" | translate }}</strong
      >: {{ distanceInMeters | number : "1.0-0" }}m /
      {{ distanceInMinutes }}
    </p>

    <button
      (click)="onShowRoute()"
      class="show-route"
      *ngIf="stateService.state.kioskMode"
    >
      <fa-icon [icon]="['fal', 'walking']"></fa-icon>
      {{ "takeMeThere" | translate }}
    </button>

    <div *ngIf="haveRouteDetails">
      <mat-button-toggle-group
        [(ngModel)]="routeType"
        (change)="toggleAccessibleRoute()"
        aria-label="Route type"
        class="accessible-toggle-group"
      >
        <mat-button-toggle value="fastest">
          <img src="https://img.icons8.com/ios/36/ffffff/walking--v1.png" />
          <span>{{ "fast-route" | translate }}</span>
        </mat-button-toggle>
        <mat-button-toggle value="accessible">
          <img src="https://img.icons8.com/wired/36/ffffff/elevator.png" />
          <span>{{ "use-elevators" | translate }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <button (click)="toggleInstructions()" class="instructions-toggle">
        <fa-icon
          [icon]="
            showInstructions
              ? ['fal', 'angle-down']
              : stateService.state.accessibleRoute
              ? ['fal', 'wheelchair']
              : ['fal', 'route']
          "
        ></fa-icon>
        {{
          (showInstructions ? "hideInstructions" : "showInstructions")
            | translate
        }}
      </button>

      <mat-expansion-panel [disabled]="true" [expanded]="showInstructions">
        <mat-panel-description>
          <mat-list>
            <mat-list-item *ngFor="let step of steps">
              <p matLine>
                <fa-icon [icon]="step.directionIcon"></fa-icon>
                <fa-icon [icon]="step.stepIcon"></fa-icon>
              </p>
              <p matLine>{{ step.description }}</p>
            </mat-list-item>
          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </div>
  </div>

  <div
    class="content small-viewport-only"
    [ngClass]="{ accessibleOnly: stateService.state.accessibleRoute }"
  >
    <p *ngIf="details && !this.sidebarService.filteredAmenity">
      {{ details | slice : 0 : limit }}
      {{ details.length > limit ? "..." : "" }}
      <a
        *ngIf="details.length > limit"
        href="javascript:;"
        (click)="limit = details.length; showingMore = true"
        >{{ "showMore" | translate }}
        <fa-icon [icon]="['fal', 'angle-down']"></fa-icon
      ></a>
      <a
        *ngIf="showingMore"
        href="javascript:;"
        (click)="limit = 200; showingMore = false"
        >{{ "showLess" | translate }}
        <fa-icon [icon]="['fal', 'angle-up']"></fa-icon
      ></a>
    </p>

    <p *ngIf="linkUrl">
      {{ "link" | translate }}:
      <a [href]="linkUrl" target="_blank" style="display: inline">{{
        poi.properties.metadata.url
      }}</a>
    </p>

    <button
      (click)="onShowRoute()"
      class="show-route"
      *ngIf="stateService.state.kioskMode"
    >
      <fa-icon [icon]="['fal', 'walking']"></fa-icon>
      {{ "takeMeThere" | translate }}
    </button>

    <mat-button-toggle-group
      [(ngModel)]="routeType"
      (change)="toggleAccessibleRoute()"
      aria-label="Route type"
      class="accessible-toggle-group"
      *ngIf="haveRouteDetails"
    >
      <mat-button-toggle value="fastest">
        <img src="https://img.icons8.com/ios/36/ffffff/walking--v1.png" />
        <span>{{ "fast-route" | translate }}</span>
      </mat-button-toggle>
      <mat-button-toggle value="accessible">
        <img src="https://img.icons8.com/wired/36/ffffff/elevator.png" />
        <span>{{ "use-elevators" | translate }}</span>
      </mat-button-toggle>
    </mat-button-toggle-group>

    <p class="distance" *ngIf="haveRouteDetails">
      <strong>{{ "distance" | translate }}</strong
      >: {{ distanceInMeters | number : "1.0-0" }}m /
      {{ distanceInMinutes }}
    </p>

    <div *ngIf="haveRouteDetails">
      <p>
        <strong>{{ "instructions" | translate }}:</strong>
      </p>
      <mat-expansion-panel [disabled]="true" [expanded]="true">
        <mat-panel-description>
          <mat-list>
            <mat-list-item *ngFor="let step of steps">
              <p matLine>
                <fa-icon [icon]="step.directionIcon"></fa-icon>
                <fa-icon [icon]="step.stepIcon"></fa-icon>
              </p>
              <p matLine>{{ step.description }}</p>
            </mat-list-item>
          </mat-list>
        </mat-panel-description>
      </mat-expansion-panel>
    </div>
  </div>

  <div
    class="start-box"
    *ngIf="
      !stateService.state.kioskMode && !this.sidebarService.filteredAmenity
    "
  >
    <p
      class="closest-parking"
      *ngIf="closestParkingFeature"
      (click)="onCenterToParking()"
    >
      <strong>{{ "closest-parking" | translate }}::</strong>
      {{ closestParkingFeature.properties.title }}
    </p>
    <div class="buttons">
      <button type="button" (click)="onRouteFromParking()">
        <img
          src="https://img.icons8.com/ios-filled/50/ffffff/people-in-car.png"
        />
        {{ "route-from-parking" | translate }}
      </button>
      <button type="button" (click)="onRouteFromEntrance()">
        <img src="https://img.icons8.com/ios/50/ffffff/walking--v1.png" />
        {{ "route-from-entrance" | translate }}
      </button>
      <button type="button" (click)="onOtherRoute()">
        <img
          src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/ffffff/external-route-interface-kiranshastry-lineal-kiranshastry.png"
        />
        {{ "other-route" | translate }}
      </button>
    </div>
    <!--<form [formGroup]="startPoiForm">
      <div mat-dialog-content>
        <mat-form-field appearance="outline">
          <mat-label>Route from different place</mat-label>
          <input
            matInput
            type="text"
            placeholder="Start Point"
            formControlName="startPoi"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="onStartPoiSelect($event)"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{
                option.properties.title + " - Floor: " + option.properties.level
              }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="startPoiForm.get('startPoi').invalid"
            >Please enter a valid start poi.</mat-error
          >
        </mat-form-field>
      </div>
    </form>-->
  </div>
</div>
