<main>
  <button class="my-location" (click)="onMyLocation()" aria-label="My Location" title="My Location">
    <span aria-hidden="true" class="icon"></span>
  </button>
  <button class="settings" (click)="onSettings()" aria-label="Settings" title="Settings">
    <fa-icon aria-hidden="true" [icon]="['fal', 'cog']" size="lg"></fa-icon>
  </button>
  <div id="proximiioMap"></div>
</main>
<main *ngIf="!mapLoaded" class="loading">
  <img src="assets/images/MAF_gif.gif" alt="Mall of Emirates">
  <h1>{{ 'welcomeMessage' | translate }}</h1>
</main>
