@import '../../styles/variables';

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 320px;
  z-index: 0;
  >div {
    height: 100%;
  }
}

#proximiioMap {
  width: 100%;
  height: 100%;
  min-height: 320px;

  ::ng-deep {
    .mapboxgl-ctrl-top-right {
      top: 100px;
      right: 20px;
    }
    .mapboxgl-ctrl-group {
      background-color: $default-color;
      color: white;
      box-shadow: none;
      border-radius: 48px;
      > button {
        width: 48px !important;
        height: 48px !important;
        padding: .8rem;
        border-radius: 48px!important;
        &.mapboxgl-ctrl-compass {
          margin: 0.1em 2px !important;
          .mapboxgl-ctrl-icon {
            background-image: url('../../assets/compass-regular.svg');
          }
        }
      }
    }
  }
}

.my-location,
.settings {
  background-color: $default-color;
  color: white;
  box-shadow: none;
  border-radius: 48px;
  border: 0;
  position: fixed;
  right: 30px;
  top: 45px;
  z-index: 5;
  width: 52px;
  height: 52px;
  padding: .9rem;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: darken($default-color, 3%);
  }
}

.my-location {
  .icon {
    background-image: url('../../assets/location-regular.svg');
    background-repeat: no-repeat;
    display: block;
    height: 48px;
    width: 48px;
    background-size: 24px;
  }
}

.settings {
  top: auto;
  bottom: 45px;
}

.map-floors {
  position: fixed;
  z-index: 9;
  right: 10px;
  top: 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
      position: relative;
      >span {
        position: absolute;
        background-color: white;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        left: -5px;
        top: -5px;
        font-weight: bold;
        color: #222;
      }
      >a,
      &.current-floor {
        display: block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        background-color: #10283f;
        border-radius: 50%;
        color: white;
        text-align: center;
      }
      &.current-floor {
        margin: 10px 0;
        font-size: 26px;
        font-weight: 300;
        background-color: rgba(16, 40, 63, 0.63);
      }
      >a {
        &:hover {
          background-color: #183c5e;
        }
        &.blinking {
          animation-name: anim;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: linear;
        }
      }
      &:last-child {
        >a {
          line-height: 48px;
        }
      }
    }
  }
}

@keyframes anim {
  to {
    background-color: #3daa55;
  }
}

.toggle-sidebar {
  position: absolute;
  z-index: 9;
  left: 10px;
  top: 10px;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #10283f;
  border-radius: 50%;
  color: rgba(255,255,255, .87);
  text-align: center;

  &:hover {
    background-color: #183c5e;
    color: white;
  }
}
