@import '../../../../styles/variables';

.container {
  padding: 1rem 2rem;
  padding-right: 4rem;
  background-color: rgba(255 255 255 / 90%);
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  border-radius: 0 10px 10px 0;
  margin-bottom: 1rem;
  position: relative;
  left: 0;
  transition: all .25s linear;
  min-height: 143px;
  z-index: 0;

  .title {
    position: relative;
    color: $default-color;
    transition: all .25s linear;
  }

  &:not(.open) {
    left: -390px;

    .title {
      position: absolute;
      right: 28px;
      top: calc(50% - 30px);
      transform: rotate(-90deg);
    }
  }

  .selector,
  .picker {
    button {
      border: 0;
      color: white;
      padding: 1rem;
      cursor: pointer;
      transition: all .25s linear;
      margin-right: 10px;
      >span {
        vertical-align: super;
        font-weight: 500;
      }
    }
  }

  .selector {
    margin-bottom: 15px;
    button {
      font-size: 32px;
      font-weight: bold;
      background-color: #444;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      border-radius: 15px;
      >span {
        font-size: 20px;
      }

      &:hover {
        background-color: darken(#444, 10%);
      }
      &.current-floor {
        background-color: $default-color;
        fa-icon {
          margin-left: 20px;
        }
        &:hover {
          background-color: darken($default-color, 3%);
        }
      }
    }
    .floor-toggle {
      display: inline-block;
      float: right;
    }
  }

  .picker {
    button {
      padding: .5rem 1rem;
      font-size: 22px;
      font-weight: bold;
      background-color: $default-color;
      border-radius: 10px;

      &.active {
        background-color: lighten($default-color, 5%);
      }
      >span {
        font-size: 14px;
      }

      &:hover:not(.active) {
        background-color: darken($default-color, 3%);
      }
    }
  }

  .toggle {
    position: absolute;
    right: .5rem;
    top: calc(50% - 20px);
    font-size: 26px;
    color: $default-color;
    padding: .5rem;
    cursor: pointer;

    &:hover {
      color: darken($default-color, 3%);
    }
  }
}
