@import "../../../../styles/variables";

.container {
  position: absolute;
  left: calc(50% - 140px);
  top: 85px;
  z-index: 2;

  .picker {
    display: flex;
    justify-content: center;
    width: 280px;
    button {
      padding: 0.5rem 1rem;
      font-size: 22px;
      font-weight: bold;
      background-color: $default-color;
      border-radius: 10px;
      border: 0;
      color: white;
      cursor: pointer;
      transition: all 0.25s linear;
      margin-right: 5px;

      &.active {
        background-color: #000;
      }
      &:hover:not(.active) {
        background-color: darken($default-color, 8%);
      }
    }
  }
}

@media only screen and (max-width: 959.98px) {
  .container {
    top: 210px;

    .picker {
      button {
        padding: 8px;
        font-size: 16px;
        font-weight: normal;
        border-radius: 5px;
      }
    }
  }
}
