<div class="container" [ngClass]="{'open': sidebarOpened}">
  <h3 class="title">{{ 'searchForAmenities' | translate }}</h3>
  <ul class="categories">
    <li *ngFor="let item of data" [class.active]="item.active" (click)="onFilterClick(item)">
      <div class="icon">
        <fa-icon [icon]="item.icon"></fa-icon>
      </div>
      <p>{{ item.title | translate }}</p>
    </li>
  </ul>
  <div class="toggle" (click)="sidebarOpened = !sidebarOpened">
    <fa-icon [icon]="sidebarOpened ? ['fal', 'chevron-double-left'] : ['fal', 'chevron-double-right']"></fa-icon>
  </div>
</div>
